/* .side-bar-button{
    height: 10%;
    width: 100%;
}

.side-bar-button button{
    height: 100%;
    width: 100%;
} */

#dropdown-basic-button{
    height: 100%;
    width: 100%;
}

/* .side-bar-button{
    height: 100%;
    width: 100%;
} */